<% layout('layouts/boilerplate') %>

    <h1>Edit Product</h1>
    <form action="/products/<%= product._id%>?_method=PUT" method="POST">
        <label for="name">Product name:</label>
        <input type="text" name="name" id="name" placeholder="product name" value="<%= product.name  %>">
        <br>
        <label for="price">Price (in ₹ per unit): </label>
        <input type="number" name="price" id="price" value="<%= product.price %>">
<br>
        <label for="category">Select Category: </label>
        <select type="text" name="category" id="category">
            <% for(let category of categories){ %>
                <option value="<%= category %>" <%= product.category === category ? 'selected':'' %>><%= category %></option>
                <% } %>
        </select>
        <br>
        <button>Add Product</button>
    </form>

    <a href="/products/<%= product._id %>">Cancel</a>
